body {
    font-family: 'Bricolage Grotesque', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: -webkit-linear-gradient(rgba(112, 146, 190, 0.4), rgba(112, 146, 190, 0.4)), url("../images/lion.webp") no-repeat center center/cover;
}

p {
    font-size: 18px;
}

.big {
    line-height: 1.2;
}

.quiz-container {
    text-align: center;
    background: linear-gradient(#7092BE, #7092BE) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 3px solid transparent;
    padding: 32px 24px;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#welcome-container {
    max-width: 400px;
    margin: auto;
}

ul {
    list-style-type: none;
}

#player-name {
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 14px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    background-color: blue;
}

#question-container {
    max-width: 600px;
    margin: auto;
}

.options button {
    margin: 5px;
}

#message-container {
    margin-top: 10px;
}

#quiz-comp {
    color: Salmon;
    font-weight: bold;
}

#restart-btn {
    margin-top: 10px;
}